.syntaxhighlighter A {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter DIV {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter CODE {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE TD {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE TR {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE TBODY {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE THEAD {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TABLE CAPTION {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter TEXTAREA {
	BOX-SIZING: content-box !important; BORDER-BOTTOM: 0px; POSITION: static !important; TEXT-ALIGN: left !important; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 2em !important; FONT-STYLE: normal !important; MARGIN: 0px; OUTLINE-STYLE: none !important; OUTLINE-COLOR: invert !important; MIN-HEIGHT: auto !important; PADDING-LEFT: 0px !important; OUTLINE-WIDTH: 0px !important; WIDTH: auto !important; BOTTOM: auto !important; PADDING-RIGHT: 0px !important; FONT-FAMILY: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none !important; HEIGHT: auto !important; FONT-SIZE: 12px !important; VERTICAL-ALIGN: baseline !important; OVERFLOW: visible !important; BORDER-TOP: 0px; RIGHT: auto !important; FONT-WEIGHT: normal !important; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important; TOP: auto !important; LEFT: auto !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0
}
.syntaxhighlighter {
	POSITION: relative !important; MARGIN: 1em 0px; WIDTH: 100% !important; FONT-SIZE: 1em !important; OVERFLOW: auto !important
}
.source {
	OVERFLOW: hidden !important
}
.syntaxhighlighter .bold {
	FONT-WEIGHT: bold !important
}
.syntaxhighlighter .italic {
	FONT-STYLE: italic !important
}
.syntaxhighlighter .line {
	WHITE-SPACE: pre !important
}
.syntaxhighlighter TABLE {
	WIDTH: 100% !important
}
.syntaxhighlighter TABLE CAPTION {
	TEXT-ALIGN: left !important; PADDING-BOTTOM: 0.5em !important; PADDING-LEFT: 1em !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0.5em !important
}
.syntaxhighlighter TABLE TD.code {
	WIDTH: 100% !important
}
.syntaxhighlighter TABLE TD.code .container {
	POSITION: relative !important
}
.syntaxhighlighter TABLE TD.code .container TEXTAREA {
	BOX-SIZING: border-box !important; BORDER-BOTTOM: medium none; POSITION: absolute !important; BORDER-LEFT: medium none; PADDING-LEFT: 1em !important; WIDTH: 100% !important; WHITE-SPACE: pre !important; BACKGROUND: #fff; HEIGHT: 100% !important; OVERFLOW: hidden !important; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TOP: 0px !important; LEFT: 0px !important
}
.syntaxhighlighter TABLE TD.gutter .line {
	TEXT-ALIGN: right !important; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 1em !important; PADDING-RIGHT: 0.5em !important; PADDING-TOP: 0px !important
}
.syntaxhighlighter TABLE TD.code .line {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 1em !important; PADDING-RIGHT: 1em !important; PADDING-TOP: 0px !important
}
.nogutter TD.code .container TEXTAREA {
	PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important
}
.nogutter TD.code .line {
	PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important
}
.show {
	DISPLAY: block !important
}
.collapsed TABLE {
	DISPLAY: none !important
}
.collapsed .toolbar {
	POSITION: static !important; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0.8em !important; WIDTH: auto !important; PADDING-RIGHT: 0.8em !important; HEIGHT: auto !important; FONT-SIZE: 1em !important; PADDING-TOP: 0.1em !important
}
.collapsed .toolbar SPAN {
	DISPLAY: inline !important; MARGIN-RIGHT: 1em !important
}
.collapsed .toolbar SPAN A {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; DISPLAY: none !important; PADDING-TOP: 0px !important
}
.collapsed .toolbar SPAN A.expandSource {
	DISPLAY: inline !important
}
.syntaxhighlighter .toolbar {
	Z-INDEX: 10 !important; POSITION: absolute !important; WIDTH: 11px !important; HEIGHT: 11px !important; FONT-SIZE: 10px !important; RIGHT: 1px !important; TOP: 1px !important
}
.syntaxhighlighter .toolbar SPAN.title {
	DISPLAY: inline !important
}
.syntaxhighlighter .toolbar A {
	TEXT-ALIGN: center !important; DISPLAY: block !important; TEXT-DECORATION: none !important; PADDING-TOP: 1px !important
}
.syntaxhighlighter .toolbar A.expandSource {
	DISPLAY: none !important
}
.ie {
	PADDING-BOTTOM: 1px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; FONT-SIZE: 0.9em !important; PADDING-TOP: 1px !important
}
.ie .toolbar {
	LINE-HEIGHT: 8px !important
}
.ie .toolbar A {
	PADDING-TOP: 0px !important
}
.printing .alt1 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt2 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .highlighted .number {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt1 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .alt2 .content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.printing .line .number {
	COLOR: #bbb !important
}
.printing .line .content {
	COLOR: #000 !important
}
.printing .toolbar {
	DISPLAY: none !important
}
.printing A {
	TEXT-DECORATION: none !important
}
.printing .plain {
	COLOR: #000 !important
}
.printing .plain A {
	COLOR: #000 !important
}
.printing .comments {
	COLOR: #008200 !important
}
.printing .comments A {
	COLOR: #008200 !important
}
.printing .string {
	COLOR: blue !important
}
.printing .string A {
	COLOR: blue !important
}
.printing .keyword {
	COLOR: #069 !important; FONT-WEIGHT: bold !important
}
.printing .preprocessor {
	COLOR: gray !important
}
.printing .variable {
	COLOR: #a70 !important
}
.printing .value {
	COLOR: #090 !important
}
.printing .functions {
	COLOR: #ff1493 !important
}
.printing .constants {
	COLOR: #06c !important
}
.printing .script {
	FONT-WEIGHT: bold !important
}
.printing .color1 {
	COLOR: gray !important
}
.printing .color1 A {
	COLOR: gray !important
}
.printing .color2 {
	COLOR: #ff1493 !important
}
.printing .color2 A {
	COLOR: #ff1493 !important
}
.printing .color3 {
	COLOR: red !important
}
.printing .color3 A {
	COLOR: red !important
}
.printing .break {
	COLOR: #000 !important
}
.printing .break A {
	COLOR: #000 !important
}
.syntaxhighlighter {
	BACKGROUND-COLOR: #fff
}
.syntaxhighlighter .alt1 {
	BACKGROUND-COLOR: #fff
}
.syntaxhighlighter .alt2 {
	BACKGROUND-COLOR: #f8f8f8
}
.syntaxhighlighter .number {
	COLOR: #000 !important
}
.syntaxhighlighter TABLE CAPTION {
	COLOR: #000 !important
}
.syntaxhighlighter .gutter {
	COLOR: #afafaf !important
}
.syntaxhighlighter .gutter .line {
	BORDER-RIGHT: #6ce26c 3px solid
}
.syntaxhighlighter .gutter .highlighted {
	BACKGROUND-COLOR: #6ce26c; COLOR: #fff !important
}
.printing .line .content {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.collapsed {
	OVERFLOW: visible !important
}
.collapsed .toolbar {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND: #f5f5f5; COLOR: blue !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.collapsed .toolbar A {
	COLOR: blue !important
}
.collapsed .toolbar A:hover {
	COLOR: red !important
}
.syntaxhighlighter .toolbar {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; COLOR: #fff !important; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.syntaxhighlighter .toolbar A {
	COLOR: #fff !important
}
.syntaxhighlighter .toolbar A:hover {
	COLOR: #000 !important
}
.syntaxhighlighter .plain {
	COLOR: #000 !important
}
.syntaxhighlighter .plain A {
	COLOR: #000 !important
}
.syntaxhighlighter .comments {
	COLOR: #008200 !important
}
.syntaxhighlighter .comments A {
	COLOR: #008200 !important
}
.syntaxhighlighter .string {
	COLOR: blue !important
}
.syntaxhighlighter .string A {
	COLOR: blue !important
}
.syntaxhighlighter .keyword {
	COLOR: #0000ff !important
}
.syntaxhighlighter .preprocessor {
	COLOR: gray !important
}
.syntaxhighlighter .variable {
	COLOR: #a70 !important
}
.syntaxhighlighter .value {
	COLOR: #090 !important
}
.syntaxhighlighter .functions {
	COLOR: #ff1493 !important
}
.syntaxhighlighter .constants {
	COLOR: #06c !important
}
.syntaxhighlighter .script {
	COLOR: #069 !important; FONT-WEIGHT: bold !important
}
.syntaxhighlighter .color1 {
	COLOR: gray !important
}
.syntaxhighlighter .color1 A {
	COLOR: gray !important
}
.syntaxhighlighter .color2 {
	COLOR: #ff1493 !important
}
.syntaxhighlighter .color2 A {
	COLOR: #ff1493 !important
}
.syntaxhighlighter .color3 {
	COLOR: red !important
}
.syntaxhighlighter .color3 A {
	COLOR: red !important
}
.syntaxhighlighter .keyword {
	FONT-WEIGHT: normal !important
}
.syntaxhighlighter .toolbar {
	
}
.syntaxhighlighter CODE {
	
}
