.syntaxhighlighter a {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter div {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter code {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table td {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table tr {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table tbody {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table thead {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter table caption {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter textarea {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 2em !important; overflow: visible !important; font-family: "Courier New","Consolas","Bitstream Vera Sans Mono",Courier,monospace !important; font-size: 12px !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important; box-sizing: content-box !important; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
}
.syntaxhighlighter {
	margin: 1em 0px !important; width: 100% !important; overflow: auto !important; font-size: 1em !important; position: relative !important;
}
.source.syntaxhighlighter {
	overflow: hidden !important;
}
.syntaxhighlighter .bold {
	font-weight: bold !important;
}
.syntaxhighlighter .italic {
	font-style: italic !important;
}
.syntaxhighlighter .line {
	white-space: pre !important;
}
.syntaxhighlighter table {
	width: 100% !important;
}
.syntaxhighlighter table caption {
	padding: 0.5em 0px 0.5em 1em !important; text-align: left !important;
}
.syntaxhighlighter table td.code {
	width: 100% !important;
}
.syntaxhighlighter table td.code .container {
	position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
	background: rgb(255, 255, 255) !important; border: currentColor !important; left: 0px !important; top: 0px !important; width: 100% !important; height: 100% !important; overflow: hidden !important; padding-left: 1em !important; white-space: pre !important; position: absolute !important; box-sizing: border-box !important;
}
.syntaxhighlighter table td.gutter .line {
	padding: 0px 0.5em 0px 1em !important; text-align: right !important;
}
.syntaxhighlighter table td.code .line {
	padding: 0px 1em !important;
}
.nogutter.syntaxhighlighter td.code .container textarea {
	padding-right: 5px !important; padding-left: 5px !important;
}
.nogutter.syntaxhighlighter td.code .line {
	padding-right: 5px !important; padding-left: 5px !important;
}
.show.syntaxhighlighter {
	display: block !important;
}
.collapsed.syntaxhighlighter table {
	display: none !important;
}
.collapsed.syntaxhighlighter .toolbar {
	padding: 0.1em 0.8em 0px !important; width: auto !important; height: auto !important; font-size: 1em !important; position: static !important;
}
.collapsed.syntaxhighlighter .toolbar span {
	margin-right: 1em !important; display: inline !important;
}
.collapsed.syntaxhighlighter .toolbar span a {
	padding: 0px !important; display: none !important;
}
.collapsed.syntaxhighlighter .toolbar span a.expandSource {
	display: inline !important;
}
.syntaxhighlighter .toolbar {
	top: 1px !important; width: 11px !important; height: 11px !important; right: 1px !important; font-size: 10px !important; position: absolute !important; z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
	display: inline !important;
}
.syntaxhighlighter .toolbar a {
	text-align: center !important; padding-top: 1px !important; text-decoration: none !important; display: block !important;
}
.syntaxhighlighter .toolbar a.expandSource {
	display: none !important;
}
.ie.syntaxhighlighter {
	padding: 1px 0px !important; font-size: 0.9em !important;
}
.ie.syntaxhighlighter .toolbar {
	line-height: 8px !important;
}
.ie.syntaxhighlighter .toolbar a {
	padding-top: 0px !important;
}
.printing.syntaxhighlighter .alt1.line .content {
	
}
.printing.syntaxhighlighter .alt2.line .content {
	
}
.printing.syntaxhighlighter .highlighted.line .number {
	
}
.printing.syntaxhighlighter .alt1.highlighted.line .content {
	
}
.printing.syntaxhighlighter .alt2.highlighted.line .content {
	
}
.printing.syntaxhighlighter .line .number {
	color: rgb(187, 187, 187) !important;
}
.printing.syntaxhighlighter .line .content {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .toolbar {
	display: none !important;
}
.printing.syntaxhighlighter a {
	text-decoration: none !important;
}
.printing.syntaxhighlighter .plain {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .plain a {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .comments {
	color: rgb(0, 130, 0) !important;
}
.printing.syntaxhighlighter .comments a {
	color: rgb(0, 130, 0) !important;
}
.printing.syntaxhighlighter .string {
	color: blue !important;
}
.printing.syntaxhighlighter .string a {
	color: blue !important;
}
.printing.syntaxhighlighter .keyword {
	color: rgb(0, 102, 153) !important; font-weight: bold !important;
}
.printing.syntaxhighlighter .preprocessor {
	color: gray !important;
}
.printing.syntaxhighlighter .variable {
	color: rgb(170, 119, 0) !important;
}
.printing.syntaxhighlighter .value {
	color: rgb(0, 153, 0) !important;
}
.printing.syntaxhighlighter .functions {
	color: rgb(255, 20, 147) !important;
}
.printing.syntaxhighlighter .constants {
	color: rgb(0, 102, 204) !important;
}
.printing.syntaxhighlighter .script {
	font-weight: bold !important;
}
.printing.syntaxhighlighter .color1 {
	color: gray !important;
}
.printing.syntaxhighlighter .color1 a {
	color: gray !important;
}
.printing.syntaxhighlighter .color2 {
	color: rgb(255, 20, 147) !important;
}
.printing.syntaxhighlighter .color2 a {
	color: rgb(255, 20, 147) !important;
}
.printing.syntaxhighlighter .color3 {
	color: red !important;
}
.printing.syntaxhighlighter .color3 a {
	color: red !important;
}
.printing.syntaxhighlighter .break {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .break a {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter {
	background-color: rgb(255, 255, 255) !important;
}
.syntaxhighlighter .alt1.line {
	background-color: rgb(255, 255, 255) !important;
}
.syntaxhighlighter .alt2.line {
	background-color: rgb(248, 248, 248) !important;
}
.syntaxhighlighter .number.highlighted.line {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter table caption {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter .gutter {
	color: rgb(175, 175, 175) !important;
}
.syntaxhighlighter .gutter .line {
	border-right-color: rgb(108, 226, 108) !important; border-right-width: 3px !important; border-right-style: solid !important;
}
.syntaxhighlighter .gutter .highlighted.line {
	color: rgb(255, 255, 255) !important; background-color: rgb(108, 226, 108) !important;
}
.printing.syntaxhighlighter .line .content {
	border: currentColor !important;
}
.collapsed.syntaxhighlighter {
	overflow: visible !important;
}
.collapsed.syntaxhighlighter .toolbar {
	background: rgb(245, 245, 245) !important; border: 1px solid rgb(204, 204, 204) !important; color: blue !important;
}
.collapsed.syntaxhighlighter .toolbar a {
	color: blue !important;
}
.collapsed.syntaxhighlighter .toolbar a:hover {
	color: red !important;
}
.syntaxhighlighter .toolbar {
	border: currentColor !important; color: rgb(255, 255, 255) !important;
}
.syntaxhighlighter .toolbar a {
	color: rgb(255, 255, 255) !important;
}
.syntaxhighlighter .toolbar a:hover {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter .plain {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter .plain a {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter .comments {
	color: rgb(0, 130, 0) !important;
}
.syntaxhighlighter .comments a {
	color: rgb(0, 130, 0) !important;
}
.syntaxhighlighter .string {
	color: blue !important;
}
.syntaxhighlighter .string a {
	color: blue !important;
}
.syntaxhighlighter .keyword {
	color: rgb(0, 0, 255) !important;
}
.syntaxhighlighter .preprocessor {
	color: gray !important;
}
.syntaxhighlighter .variable {
	color: rgb(170, 119, 0) !important;
}
.syntaxhighlighter .value {
	color: rgb(0, 153, 0) !important;
}
.syntaxhighlighter .functions {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .constants {
	color: rgb(0, 102, 204) !important;
}
.syntaxhighlighter .script {
	color: rgb(0, 102, 153) !important; font-weight: bold !important;
}
.syntaxhighlighter .color1 {
	color: gray !important;
}
.syntaxhighlighter .color1 a {
	color: gray !important;
}
.syntaxhighlighter .color2 {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .color2 a {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .color3 {
	color: red !important;
}
.syntaxhighlighter .color3 a {
	color: red !important;
}
.syntaxhighlighter .keyword {
	font-weight: normal !important;
}
.syntaxhighlighter .toolbar {
	
}
.syntaxhighlighter code {
	white-space: pre-wrap;
}
