#EntryTag {
	color: gray; font-size: 9pt; margin-top: 20px;
}
.topicListFooter {
	text-align: right; margin-top: 10px; margin-right: 10px;
}
#divRefreshComments {
	text-align: right; font-size: 9pt; margin-right: 10px; margin-bottom: 5px;
}
* {
	margin: 0px; padding: 0px;
}
html {
	height: 100%;
}
body {
	background: rgb(221, 221, 221); color: rgb(102, 102, 102); font-family: "verdana","ms song","ËÎÌå","Arial","Î¢ÈíÑÅºÚ", "Helvetica", "sans-serif"; font-size: 12px; min-height: 101%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
ul {
	word-break: break-all;
}
li {
	list-style: none;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
a:link {
	color: rgb(6, 129, 186); text-decoration: none;
}
a:visited {
	color: rgb(6, 129, 186); text-decoration: none;
}
a:hover {
	color: rgb(255, 102, 0); text-decoration: underline;
}
a:active {
	color: rgb(6, 129, 186); text-decoration: none;
}
.clear {
	clear: both;
}
#home {
	margin: 0px auto; width: 950px;
}
#header {
	background: url("/skins/FFandIE/images/header.gif") no-repeat; height: 150px; margin-top: 20px; position: relative;
}
#blogTitle {
	width: 80%; margin-right: 15px; float: right;
}
#lnkBlogLogo {
	left: 50px; top: 5px; width: 121px; height: 145px; float: left; display: block; position: absolute;
}
#blogTitle h1 {
	width: 100%; text-align: right; line-height: 1.5em; font-size: 150%; font-weight: bold; margin-top: 12px; margin-right: 30px; float: right;
}
#blogTitle h2 {
	width: 100%; height: 1.5em; text-align: right; line-height: 1.5em; clear: both; margin-right: 30px; float: right;
}
#navigator {
	width: 650px; margin-top: 30px; margin-right: 5px; float: right;
}
#navList {
	float: right;
}
#navList li {
	float: left;
}
#navList a {
	height: 22px; text-align: center; padding-top: 8px; margin-right: 1em; float: left;
}
#MyLinks1_XMLLink {
	display: none;
}
.blogStats {
	text-align: right; color: rgb(102, 102, 102); margin-top: 8px; margin-right: 2px; float: right; display: none;
}
#main {
	background: url("/skins/FFandIE/images/body.gif") repeat-y; height: 100%; text-align: left;
}
.forFlow {
	float: left;
}
#topicList .forFlow {
	width: auto; margin-left: 25em; float: none;
}
#topicList {
	padding: 0px 0px 10px; width: 93%; overflow: hidden; margin-left: -20em; float: left; word-break: break-all; text-overflow: ellipsis; min-height: 200px; -o-text-overflow: ellipsis;
}
.day {
	padding-bottom: 5px; margin-bottom: 20px; min-height: 10px; _height: 10px;
}
.dayTitle {
	width: 100%; text-align: center; color: rgb(102, 102, 102); line-height: 1.5em; clear: both; font-size: 110%; font-weight: bold; margin-top: 3px; margin-bottom: 10px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 2px; border-bottom-style: solid;
}
.postTitle {
	width: 100%; line-height: 1.5em; clear: both; font-size: 110%; font-weight: bold; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid; float: right;
}
.postTitle a:link {
	color: rgb(6, 129, 186);
}
.postTitle a:visited {
	color: rgb(6, 129, 186);
}
.postTitle a:active {
	color: rgb(6, 129, 186);
}
.postTitle a:hover {
	color: rgb(255, 102, 0);
}
.postCon {
	padding: 5px 0px; width: 100%; line-height: 1.5em; clear: both; float: right;
}
.postCon p {
	margin: 0px auto 1em; text-indent: 0em;
}
.postDesc {
	width: 100%; text-align: right; color: rgb(102, 102, 102); padding-right: 5px; clear: both; float: right;
}
.postDesc a:link {
	color: rgb(102, 102, 102);
}
.postDesc a:visited {
	color: rgb(102, 102, 102);
}
.postDesc a:active {
	color: rgb(102, 102, 102);
}
.postDesc a:hover {
	text-decoration: none;
}
.postSeparator {
	margin: 0px auto 15px; width: 100%; height: 1px; clear: both; border-top-color: rgb(102, 102, 102); border-top-width: 1px; border-top-style: dotted; float: right;
}
#sideBar {
	padding: 0px 0px 0px 5px; width: 200px; overflow: hidden; margin-right: 50px; float: right; word-break: break-all; text-overflow: ellipsis; min-height: 200px; -o-text-overflow: ellipsis; _margin-right: 25px;
}
.newsItem .catListTitle {
	display: none;
}
.newsItem {
	padding: 15px 0px 5px; margin-bottom: 8px;
}
#calendar {
	width: 200px;
}
#calendar .Cal {
	width: 100%; line-height: 1.5em;
}
.Cal {
	border: currentColor; color: rgb(102, 102, 102);
}
#calendar table a:link {
	font-weight: bold;
}
#calendar table a:visited {
	font-weight: bold;
}
#calendar table a:active {
	font-weight: bold;
}
#calendar table a:hover {
	color: white; text-decoration: none; background-color: rgb(255, 102, 0);
}
.CalTodayDay {
	color: rgb(255, 102, 0);
}
#calendar .CalNextPrev a:link {
	font-weight: bold; background-color: white;
}
#calendar .CalNextPrev a:visited {
	font-weight: bold; background-color: white;
}
#calendar .CalNextPrev a:active {
	font-weight: bold; background-color: white;
}
.CalDayHeader {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.CalTitle {
	background: white; width: 100%; color: black; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
.catListTitle {
	text-align: center; line-height: 1.5em; font-size: 110%; font-weight: bold; margin-top: 15px; margin-bottom: 10px; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.catListComment {
	line-height: 1.5em;
}
.divRecentComment {
	color: rgb(102, 102, 102); margin-bottom: 1em;
}
#sideBarMain ul {
	line-height: 1.5em;
}
#topics {
	padding: 0px 0px 10px; width: 100%; overflow: hidden; float: left; word-break: break-all; text-overflow: ellipsis; min-height: 200px; -o-text-overflow: ellipsis;
}
#topics .postTitle {
	width: 100%; line-height: 1.5em; padding-left: 5px; font-size: 130%; font-weight: bold; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.postBody {
	padding: 5px 2px 5px 5px; line-height: 1.6em; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
#EntryTag {
	color: rgb(102, 102, 102);
}
#EntryTag a {
	margin-left: 5px;
}
#EntryTag a:link {
	color: rgb(6, 129, 186);
}
#EntryTag a:visited {
	color: rgb(6, 129, 186);
}
#EntryTag a:active {
	color: rgb(6, 129, 186);
}
#EntryTag a:hover {
	color: rgb(255, 102, 0);
}
#topics .postDesc {
	width: 100%; text-align: right; color: rgb(102, 102, 102); padding-right: 5px; float: right;
}
.feedback_area_title {
	padding-left: 8px; font-weight: bold; margin-top: 20px; margin-bottom: 10px; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.feedbackListSubtitle {
	color: rgb(102, 102, 102);
}
.feedbackListSubtitle a:link {
	color: rgb(102, 102, 102); font-weight: normal;
}
.feedbackListSubtitle a:visited {
	color: rgb(102, 102, 102); font-weight: normal;
}
.feedbackListSubtitle a:active {
	color: rgb(102, 102, 102); font-weight: normal;
}
.feedbackListSubtitle a:hover {
	text-decoration: none;
}
.feedbackManage {
	width: 160px; text-align: right; float: right;
}
.feedbackCon {
	background: url("/skins/FFandIE/images/comment.gif") no-repeat 5px 0px; padding: 15px 18px 10px 40px; width: 90%; line-height: 1.5em; margin-bottom: 1em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; min-height: 35px; _height: 35px;
}
#divRefreshComments {
	text-align: right; margin-bottom: 10px;
}
.commenttb {
	width: 320px;
}
.commentform table td input {
	margin: 2px auto;
}
.entrylistTitle {
	text-align: right; padding-right: 10px; padding-bottom: 3px; font-size: 110%; font-weight: bold; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.PostListTitle {
	text-align: right; padding-right: 10px; padding-bottom: 3px; font-size: 110%; font-weight: bold; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.thumbTitle {
	text-align: right; padding-right: 10px; padding-bottom: 3px; font-size: 110%; font-weight: bold; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.entrylistDescription {
	text-align: right; color: rgb(102, 102, 102); padding-top: 5px; padding-right: 10px; padding-bottom: 5px; margin-bottom: 10px;
}
.entrylistItem {
	width: 100%; padding-bottom: 5px; margin-bottom: 30px; min-height: 20px; _height: 20px;
}
.entrylistPosttitle {
	width: 100%; line-height: 1.5em; padding-left: 5px; font-size: 110%; font-weight: bold; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
.entrylistPosttitle a:hover {
	text-decoration: none;
}
.entrylistPostSummary {
	padding-left: 5px; margin-top: 5px; margin-bottom: 5px;
}
.entrylistItemPostDesc {
	text-align: right; color: rgb(102, 102, 102);
}
.entrylistItemPostDesc a:link {
	color: rgb(102, 102, 102);
}
.entrylistItemPostDesc a:visited {
	color: rgb(102, 102, 102);
}
.entrylistItemPostDesc a:active {
	color: rgb(102, 102, 102);
}
.entrylistItemPostDesc a:hover {
	
}
.entrylist .postSeparator {
	margin: 0px; padding: 0px; border: currentColor; width: 100%; height: 0px; line-height: 0; clear: both; font-size: 0px;
}
.pager {
	text-align: right; margin-right: 10px;
}
.PostList {
	padding-top: 10px; padding-right: 5px; padding-left: 5px; clear: both; margin-bottom: 5px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; min-height: 1.5em; _height: 1.5em;
}
.postTitl2 {
	float: left;
}
.postDesc2 {
	color: rgb(102, 102, 102); float: right;
}
.postText2 {
	color: rgb(102, 102, 102); clear: both;
}
.pfl_feedback_area_title {
	text-align: right; line-height: 1.5em; font-weight: bold; margin-bottom: 10px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
.louzhu {
	background: url("/skins/FFandIE/images/icoLouZhu.gif") no-repeat 1px 0px; padding-left: 16px;
}
.pfl_feedbackItem {
	margin-bottom: 20px; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.pfl_feedbacksubtitle {
	width: 100%; height: 1.5em; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted;
}
.pfl_feedbackname {
	float: left;
}
.pfl_feedbackManage {
	float: right;
}
.pfl_feedbackCon {
	color: black; padding-top: 5px; padding-bottom: 5px;
}
.pfl_feedbackAnswer {
	color: rgb(255, 68, 0); text-indent: 2em;
}
.tdSentMessage {
	text-align: right;
}
.errorMessage {
	width: 300px; float: left;
}
.mySearch #q {
	width: 145px; height: 1.4em;
}
.divPhoto {
	padding: 2px; border: 1px solid rgb(204, 204, 204); margin-right: 10px;
}
.thumbDescription {
	text-align: right; color: rgb(102, 102, 102); padding-top: 5px; padding-right: 10px; padding-bottom: 5px; margin-bottom: 10px;
}
#footer {
	background: url("/skins/FFandIE/images/footer.gif") no-repeat; height: 70px; text-align: center; padding-top: 25px; clear: both; margin-bottom: 0px;
}
.personInfo {
	margin-bottom: 20px;
}
.pages {
	text-align: right;
}
.postBody {
	line-height: 1.5em;
}
.postBody p {
	margin: 0px auto 1em;
}
.postBody h2 {
	margin: 15px auto 2px; font-size: 150%; font-weight: bold;
}
.postBody h3 {
	margin: 15px auto 2px; font-size: 120%; font-weight: bold;
}
.postBody h4 {
	margin: 15px auto 2px; color: rgb(51, 51, 51); font-size: 110%; font-weight: bold;
}
.postBody h5 {
	margin: 15px auto 2px; color: rgb(51, 51, 51); font-size: 100%; font-weight: bold;
}
.postBody a:link {
	text-decoration: underline;
}
.postBody a:visited {
	text-decoration: underline;
}
.postBody a:active {
	text-decoration: underline;
}
.postCon a:link {
	text-decoration: underline;
}
.postCon a:visited {
	text-decoration: underline;
}
.postCon a:active {
	text-decoration: underline;
}
.postBody ul {
	margin-left: 2em;
}
.postCon ul {
	margin-left: 2em;
}
.postBody li {
	margin-bottom: 1em;
}
.postCon li {
	margin-bottom: 1em;
}
.postBody blockquote {
	background: url("/skins/FFandIE/images/comment.gif") no-repeat 25px 0px; padding: 10px 60px 5px; color: rgb(51, 51, 51); line-height: 1.6em; min-height: 35px; _height: 35px;
}
.postBody ul {
	margin-left: 2em;
}
.postCon ul {
	margin-left: 2em;
}
.postBody li {
	margin-top: 2px; margin-bottom: 2px;
}
.postCon li {
	margin-top: 2px; margin-bottom: 2px;
}
